aiogram==3.13.1
aiohttp==3.10.10
aioredis==2.0.1
aiofiles===23.2.1
anthropic==0.34.2
async-timeout==4.0.3
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
chatgpt-md-converter==0.1.2
firebase-admin==6.5.0
google-auth==2.35.0
google-api-core==2.21.0
google-cloud-bigquery==3.26.0
google-cloud-firestore==2.19.0
google-cloud-storage==2.18.2
googleapis-common-protos==1.65.0
google-generativeai==0.8.3
gcloud-aio-auth==5.3.2
gcloud-aio-storage==9.3.0
grpcio==1.66.2
idna==3.10
pyasn1==0.6.0
pyasn1-modules==0.4.0
pycryptodome==3.21.0
PyJWT==2.9.0
pillow==10.4.0
redis==5.1.1
requests==2.32.3
replicate==0.34.2
six==1.16.0
openai==1.51.2
python-dotenv==1.0.1
pydantic==2.9.2
pydantic-settings==2.5.2
pydub==0.25.1
pytz==2024.2
uvicorn==0.31.1
fastapi==0.115.2
ffmpeg==1.4
ffprobe-python==1.0.3
yookassa==3.3.0
