aiogram==3.4.1
aiohttp==3.9.3
aioredis==2.0.1
aiofiles==23.2.1
async-timeout==4.0.3
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
firebase-admin==6.5.0
google-auth==2.29.0
google-api-core==2.18.0
google-cloud-bigquery==3.20.1
google-cloud-firestore==2.16.0
google-cloud-storage==2.16.0
googleapis-common-protos==1.63.0
gcloud-aio-auth==5.3.1
gcloud-aio-storage==9.3.0
grpcio==1.62.1
idna==3.6
pyasn1==0.6.0
pyasn1-modules==0.4.0
PyJWT==2.8.0
redis==5.0.3
requests==2.31.0
replicate==0.25.1
six==1.16.0
openai==1.16.2
python-dotenv==1.0.1
python-telegram-bot==21.0.1
pydantic==2.5.3
pydantic-settings==2.1.0
pydub==0.25.1
uvicorn==0.29.0
fastapi==0.110.1
ffmpeg==1.4
ffprobe-python==1.0.3
gcloud==0.18.3
