aiogram==3.2.0
aiohttp==3.8.1
async-timeout==4.0.2
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
google-auth==2.23.0
firebase-admin==6.2.0
google-api-core==2.11.1
google-cloud-firestore==2.12.0
google-cloud-storage==2.10.0
googleapis-common-protos==1.60.0
grpcio==1.58.0
idna==3.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyJWT==2.8.0
requests==2.31.0
six==1.16.0
replicate==0.22.0
openai==1.3.5
python-dotenv==1.0.0
pydantic==2.5.3
Pillow==10.1.0
ffmpeg==1.4
pydub==0.25.1
uvicorn==0.25.0
aiocron==1.8
fastapi==0.108.0
